<div class="second-sidebar-title">国内搬家</div>
<div class="nav slimscroll">
    <div class="menu-header">订单</div>
    <ul class="menu-item">
        <li {if $_W['_ac'] == 'order' && $_GPC['filter_type'] == 'process'}class='active'{/if}>
            <a href="{php echo iurl('domestice/order/list',array('filter_type' => 'process'));}">
                未完成
                {if !empty($_W['_process'])}
                    <span class="badge">{$_W['_process']}</span>
                {/if}
            </a>
        </li>
        <li {if $_W['_ac'] == 'order' && $_GPC['filter_type'] == 'refund_status'}class="active"{/if}>
            <a href="{php echo iurl('domestice/order/list', array('refund_status' => 1, 'filter_type' => 'refund_status'));}">
                退款单
                {if !empty($_W['_refund'])}
                    <span class="badge">{$_W['_refund']}</span>
                {/if}
            </a>
        </li>
        <li {if $_W['_ac'] == 'order' && $_GPC['filter_type'] == 'all'}class="active"{/if}>
            <a href="{php echo iurl('domestice/order/list', array('filter_type' => 'all'));}">所有订单</a>
        </li>
        {ifp 'order.distribute'}
        <li {if $_W['_op'] == 'distribute'}class="active"{/if}>
            <a href="{php echo iurl('domestice/order/distribute');}">订单分布</a>
        </li>
        {/if}
    </ul>
    <div class="menu-header">调度中心</div>
    <ul class="menu-item">
        <li {if $_W['_ac'] == 'dispatch'}class='active'{/if}>
            <a href="{php echo iurl('domestice/dispatch/map');}">待指派</a>
        </li>
    </ul>
    <div class="menu-header">数据</div>
    <ul class="menu-item">
        <li {if $_W['_ac'] == 'statDelivery' && $_W['_op'] == 'index'}class='active'{/if}>
            <a href="{php echo iurl('domestice/statDelivery/index');}">搬家统计</a>
        </li>
        <li {if $_W['_ac'] == 'statDelivery' && $_W['_op'] == 'day'}class='active'{/if}>
            <a href="{php echo iurl('domestice/statDelivery/day');}">搬家详情</a>
        </li>
    </ul>
    <div class="menu-header">设置</div>
        <ul class="menu-item">
            <li>
                <a href="{php echo iurl('domestice/carry/index');}">规则设置</a>
            </li>
            <li>
                <a href="{php echo iurl('domestice/page/index');}">页面设置</a>
            </li>
        </ul>
</div>