body {
    font-family: Helvetica, STHeiti, "Microsoft YaHei", Verdana, Arial, Tahoma, sans-serif;
    background: #f2f2f2
}

body {
    background: #e7e8eb;
}

a:focus {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

h2 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: none;
}

.width-100 {
    width: 100px;
}

.width-130 {
    width: 130px;
}

.width-200 {
    width: 200px;
}

.panel {
    box-shadow: 0 0 0;
}

/* 加载中 */

#page-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    left: 0;
    top: 0;
    z-index: 9999;
}

#page-loading>div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

#page-loading .sk-spinner-three-bounce div {
    background-color: #06c1ae
}

/* 统计列表 */

.panel-stat {
    border: none
}

.panel-stat .panel-heading, .panel-display .panel-heading, .panel-trend .panel-heading {
    border: none;
    background-color: #f8f8f8;
}

.panel-stat .panel-heading h3, .panel-trend .panel-heading h3, .panel-display .panel-heading h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    border-left: 4px solid #0292a5
}

.panel-stat .panel-heading .pull-right a {
    color: #2A2A2A
}

.panel-stat .panel-body, .panel-trend .panel-body {
    margin-top: 15px;
    background-color: #f8f8f8;
}

.panel-stat .panel-body>div[class*=col-] {
    border-right: 1px dotted #ccc;
}

.panel-stat .panel-body>div[class*=col-]:last-child {
    border-right: none
}

.panel-stat .panel-body .title {
    text-align: center
}

.panel-stat .panel-body .num-wrapper {
    text-align: center;
}

.panel-stat .panel-body .num {
    color: #333;
    font-size: 40px;
    display: block
}

.panel-stat .panel-body .info {
    display: inline-block;
    color: #999
}

.panel-trend form {
    margin-top: 15px
}

.panel-trend .panel-body, .panel-display .panel-body {
    background-color: #FFF;
    border: 1px solid #e4e4e4;
    margin-top: 15px;
}

/* web端消息 */

.panel-message .message-icon {
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.panel-message .check-circle {
    color: #06c1ae
}

.panel-message .times-circle {
    color: #f90
}

.panel-message .info-circle {
    color: #ccc
}

.panel-message h2 {
    margin-top: 0
}

.panel-message p {
    font-size: 14px
}

.panel-message p.message-text {
    margin-top: 10px
}

/* 消息提示框 */

.message-box {
    position: fixed;
    margin: auto;
    height: 32px;
    line-height: 32px;
    top: -32px;
    width: 100%;
    text-align: center;
    z-index: 11111111;
    transition-duration: 300ms;
    -webkit-transition-duration: 300ms;
    opacity: 0;
}

.message-box.in {
    top: 0;
    opacity: 1;
}

.message-box .msg {
    display: inline-block;
    white-space: nowrap;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    min-width: 350px;
}

.message-box .msg-success {
    background: #08c
}

.message-box .msg-error {
    background: #ed5565
}

.message-box .msg-info {
    background: #eaa000
}

/* 表单 */

/* 改变水平表单的样式 */

.form-horizontal {
    max-width: 950px;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: 500;
}

.form-horizontal .form-group {
    border-bottom: 1px solid #eff4f5;
    padding-bottom: 15px;
}

.form-horizontal .form-group:last-child {
    border: none
}

.form-horizontal .line {
    margin-bottom: 12px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.form-horizontal .label-line {
    width: 100%;
}

.form-horizontal .agent-body {
    padding: 20px 50px 20px;
    margin: 10px 0px;
}

.form-horizontal .text {
    line-height: 2.5rem;
}

.form-horizontal .agent-main {
    margin-top: 270px;
}

.form-horizontal h3 {
    font-weight: 700;
    border-left: 3px solid #06c1ae;
    margin-bottom: 30px;
    padding-left: 10px;
    font-size: 14px;
}

.form-horizontal h3:first-child {
    margin-top: 0
}

.form-horizontal.form-validate .btn {
    margin-right: 15px
}

.form-horizontal .btn-group .btn {
    margin-right: 0px
}

.form-horizontal .nav.nav-tabs {
    margin-bottom: 15px
}

.form-horizontal.form-validate .input-group-btn .btn {
    margin-right: 0px
}

.form-horizontal.form-filter {
    max-width: 100%;
}

.form-horizontal.form-filter .form-group {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px
}

.form-horizontal.form-filter .control-label {
    max-width: 120px;
    padding-right: 0;
    padding-left: 0
}

.form-horizontal.form-filter .form-control {
    max-width: 300px;
}

.form-horizontal.form-filter .form-group {
    border-bottom: 1px solid #eff4f5
}

.form-horizontal.form-filter .form-group:last-child {
    margin-bottom: 10px;
    border: none
}

.form-horizontal.form-filter .form-control.select2-container {
    width: 140px
}

/* checkbox radio */

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 5px
}

.checkbox-inline, .radio-inline {
    vertical-align: inherit
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 3px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    margin-left: -20px;
    margin-top: 3px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    top: 0;
    margin-left: -20px;
    margin-top: 2px;
    padding-left: 1px;
    padding-top: 0px;
    font-size: 10px;
    color: #555555;
    font-weight: normal;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus+label::before, .checkbox input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after, .checkbox input[type="radio"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label, .checkbox input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before, .checkbox input[type="radio"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox input[type="checkbox"]:checked+label::before {
    background-color: #08c;
    border-color: #08c;
}

.checkbox input[type="checkbox"]:checked+label::after {
    color: #fff
}

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 3px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    margin-top: 3px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 8px;
    height: 8px;
    left: 4px;
    top: 4px;
    margin-left: -20px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio input[type="radio"]+label::after {
    background-color: #08c;
}

.radio input[type="radio"]:checked+label::before {
    border-color: #08c;
}

.radio input[type="radio"]:checked+label::after {
    background-color: #08c;
    color: #fff;
}

a:focus {
    text-decoration: none
}

ul {
    list-style: none;
    padding: 0
}

.panel-default {
    border-color: #eee;
    border-radius: 0
}

.panel-default>.panel-heading {
    border-color: #eee;
    background: #fafafa;
    border-radius: 0
}

a:hover, a:focus {
    cursor: pointer;
    text-decoration: none
}

/*侧边栏 */

#app-sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 240px;
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
}

/* 一级分类 */

#app-first-sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 120px;
    background: #1f3240;
}

#app-first-sidebar .team-logo-wrap {
    display: block;
    width: 90px;
}

#app-first-sidebar .team-logo {
    margin: 15px auto 0;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    overflow: hidden;
}

#app-first-sidebar .plateform-name {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0 18px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 导航菜单 */

#app-first-sidebar .nav {
    padding: 0 0 60px 0;
    width: 100px;
}

#app-first-sidebar .nav ul li {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    margin-bottom: 14px;
    cursor: pointer;
}

#app-first-sidebar .nav ul li.active {
    background: #f8f8f8;
}

#app-first-sidebar .nav ul li.active a {
    color: #333;
}

#app-first-sidebar .nav ul li a {
    color: #CACACA;
    display: block;
    padding-left: 18px;
}

#app-first-sidebar .nav ul li a .icon {
    font-size: 16px;
    position: relative;
    top: 1px;
}

/* 二级分类 */

#app-second-sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 120px;
    width: 120px;
    background: #fff;
}

#app-second-sidebar .second-sidebar-title {
    padding-left: 20px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f2f2f2;
}

#app-second-sidebar .nav {
    width: 120px;
    padding: 13px 10px;
    height: auto;
}

#app-second-sidebar .nav .menu-header {
    padding: 0 10px 0 3px;
    color: #333;
    margin-bottom: 10px;
}

#app-second-sidebar .nav ul li {
    font-size: 14px;
    margin-bottom: 0px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
}

#app-second-sidebar .nav ul li a {
    display: inline-block;
    min-width: 60px;
    height: 36px;
    line-height: 36px;
    padding: 0 8px 0 18px;
    color: #7c838a;
    position: relative;
}

#app-second-sidebar .nav ul li.active {
    background: #f2f2f2;
}

#app-second-sidebar .nav ul li.active a {
    color: #0292a5;
}

#app-second-sidebar .nav ul li:hover a {
    color: #0292a5;
}

#app-second-sidebar .nav .menu-item:last-child {
    margin-bottom: 50px;
}

/* 三级分类 顶部导航栏 */

#app-container {
    margin-left: 240px;
    background: #f2f2f2;
}

#app-third-sidebar {
    background: #fff;
    padding: 0 5px;
    border-bottom: 1px solid #e5e5e5;
}

#app-third-sidebar .nav-list {
    float: left;
    margin-bottom: 0;
}

#app-third-sidebar .nav-list li {
    padding: 0 20px;
    float: left;
}

#app-third-sidebar .nav-list li:first-child {
    padding-left: 7px;
}

#app-third-sidebar .nav-list li a {
    display: block;
    height: 49px;
    min-width: 0;
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 14px;
    color: #666666;
    line-height: 48px;
}

#app-third-sidebar .nav-list li.active a {
    color: #333;
    border-bottom: 2px solid #06c1ae;
}

#app-third-sidebar .navbar-right {
    margin-right: 5px;
}

#app-third-sidebar .navbar-right a {
    color: #333;
    padding: 0 15px;
    height: 49px;
    line-height: 48px
}

#app-third-sidebar .navbar-right a:hover {
    color: #0292a5;
}

#app-third-sidebar .navbar-right a.account-info {
    font-weight: bold
}

#app-third-sidebar .navbar-right a.account-info .pic {
    width: 35px;
    height: 35px;
    margin-right: 7px;
    display: inline-block
}

#app-third-sidebar .navbar-right a.account-info img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#app-third-sidebar .navbar-right .dropdown-menu a {
    height: 35px;
    line-height: 35px
}

#app-third-sidebar .navbar-right .dropdown-menu a i.icon {
    font-size: 16px;
    position: relative;
    top: 2px;
}

#app-third-sidebar .navbar-right .dropdown-menu li a:hover {
    color: #08c;
    background-color: #FFF
}

/* 主内容区 */

#app-inner {
    background: #fff;
    margin: 10px 10px 0 10px;
    padding: 15px;
    min-width: 750px;
    min-height: 500px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

#app-inner .page {
    padding: 25px 25px 0 25px;
}

/* 面板表格 */

.panel-table {
    margin-bottom: 0;
}

.panel-table .panel-heading {
    padding: 0;
    margin-bottom: 15px;
}

.panel-table .panel-body {
    padding: 0
}

.panel-table .panel-body .table thead {
    background-color: #f8f8f8;
}

.panel-table .panel-body .table thead th {
    height: 40px
}

.panel-table .panel-body .btn-region {
    padding-top: 15px
}

.panel-table .panel-body .btn-region .btn {
    margin-right: 10px
}

.panel-table .panel-body .btn-region .pagination {
    margin: 0px
}

.panel-table .table>tbody>tr>td, .panel-table .table>tbody>tr>th, .panel-table .table>tfoot>tr>td, .panel-table .table>tfoot>tr>th, .panel-table .table>thead>tr>td, .panel-table .table>thead>tr>th {
    vertical-align: middle
}

.panel-table .table>thead>tr>th {
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8
}

.panel-table .table>tbody>tr:last-child>td {
    border-bottom: 1px solid #ddd
}

.panel-table .table-hover>tbody>tr:hover {
    background-color: #f8f8f8
}

.bottom-bar {
    display: none;
    position: fixed;
    z-index: 48;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 12px 20px 12px 220px;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

.bottom-bar .btn {
    margin-left: 10px
}

.bottom-bar .col-md-2 .btn:first-child {
    margin-left: 20px
}

.no-result {
    padding: 40px 0;
    text-align: center;
    border: 1px solid #eee;
}

.no-result p {
    margin-bottom: 0;
}

/* 插件应用列表 */

.page-application h2 {
    padding-left: 10px;
    margin-bottom: 15px;
    border-left: 3px solid #06c1ae;
    font-size: 15px
}

.application-list .application-item {
    float: left;
    width: 350px;
    background-color: #f8f8f8;
    border: none;
    padding: 15px;
    border-radius: 3px;
    margin: 0 15px 15px 0
}

.application-list .application-item:hover {
    background-color: #f2f2f2;
    cursor: pointer
}

.application-list .application-image {
    float: left;
    width: 54px;
    height: 54px;
    display: block;
    text-align: center;
    border-radius: 6px;
    overflow: hidden
}

.application-list .application-image img {
    width: 54px;
    height: 54px;
}

.application-list .application-info {
    float: left;
    width: 245px;
    margin-left: 15px;
    padding-top: 4px
}

.application-list .application-info .application-name {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #222222;
}

.application-list .application-info .application-description {
    color: #999;
    font-size: 12px;
    margin-bottom: 0
}

/* 角色管理 */

.system-permit .permit-container .category-permit {
    margin-bottom: 10px;
}

.system-permit .permit-container .heading {
    font-weight: bold;
    padding: 5px 0;
}

.system-permit .permit-container .permit-list {
    border-top: 1px dashed #ccc;
}

.system-permit .permit-container .checkbox-inline {
    margin-left: 10px;
}

/* 修改微擎原始组件样式 */

/* 微擎下拉选择 */

select.we7-select, select {
    height: 34px!important;
    padding: 0 10px;
    color: #252424;
    border-color: #e7e7eb!important;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0!important;
    outline: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background: url(../../../../web/resource/images/select-arrow.png) #fff no-repeat right!important;
    padding-right: 44px!important;
}

.wi-search:before {
    content: "\e61e";
}

.material-content .material-head {
    padding: 15px 20px;
    border-bottom: 1px solid #e7e7eb;
    clear: both;
    box-sizing: border-box
}

.material-content .material-head .wi-search {
    font-size: 18px;
    margin: 0
}

.material-content .material-head .filter {
    width: 450px;
}

.material-content .material-head .filter .we7-select {
    width: 200px;
}

.material-content .material-head .filter .we7-select+.we7-select {
    margin-left: -1px
}

.material-content .material-nav {
    border-bottom: 1px solid #e7e7eb;
    padding: 0 20px
}

.material-content .material-nav a {
    display: inline-block;
    padding: 0 30px;
    line-height: 42px;
    font-size: 16px;
    color: #999;
    border-bottom: 3px solid transparent
}

.material-content .material-nav a:hover, .material-content .material-nav a.active, .material-content .material-nav .panel-menu a.list-group-item:not(.list-group-more):hover, .panel-menu .material-content .material-nav a.list-group-item:not(.list-group-more):hover {
    color: #428bca;
    border-color: #428bca
}

.material-content .material-body {
    padding: 20px;
    height: 460px;
    overflow-y: auto;
    border-bottom: 1px solid #e7e7eb
}

.material-content .material-body .col-sm-2 {
    padding: 10px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
}

.material-content .material-body .item {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #eee;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
}

.material-content .material-body .item:before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    vertical-align: middle;
}

.material-content .material-body .item:hover {
    outline: 2px solid #428bca;
}

.material-content .material-body .item .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 34px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 0 20px;
    text-align: left;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.material-content .material-body .item.active .mask, .material-content .material-body .head .navbar-left>li.item:hover .mask, .head .material-content .material-body .navbar-left>li.item:hover .mask, .material-content .material-body .panel-menu .item.list-group-item:not(.list-group-more):hover .mask, .panel-menu .material-content .material-body .item.list-group-item:not(.list-group-more):hover .mask {
    display: block
}

.material-content .material-body .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    display: none
}

.material-content .material-body .mask .wi, .material-content .material-body .mask .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .material-content .material-body .mask .ext-apply-item.apply-show:before, .material-content .material-body .mask .cut-list .item.apply-show:before, .cut-list .material-content .material-body .mask .item.apply-show:before {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.material-content .material-body .del {
    position: absolute;
    width: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #428bca;
    cursor: pointer;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: none;
}

.material-content .material-body .item:hover .del {
    display: block;
}

.wi-delete2:before {
    content: "\e6b4";
}

.wi {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 3px;
}

.wi, .ext-apply-list .ext-apply-item.apply-show:before, .cut-list .item.apply-show:before {
    font-family: "iconfont" !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.material-content .material-pager {
    padding: 20px;
    height: 79px;
}

.material-content .tab-content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 310px;
}

.uploader-modal.image .img-net {
    font-size: 18px;
}

.uploader-modal.image .img-net .img {
    width: auto;
    min-width: 150px;
    height: 150px;
    background-color: #eee;
    margin: 50px 0 20px 0;
}

.uploader-modal.image .img-net input {
    width: 500px;
    margin: 10px auto;
}

.uploader-modal.image .img-net .btn {
    width: 120px;
    margin: 10px 0;
}

.uploader-modal .modal-body {
    padding: 0;
    min-height: 595px;
    max-height: auto!important;
    box-sizing: border-box;
}

/* 微擎上传组件分类样式 */

.we7-wmall-dialog .we7-modal-dialog .modal-content, .we7-wmall-dialog .modal-dialog .modal-content {
    border-radius: 0;
}

#newUploaderImg .modal-header, .uploader-modal .modal-header {
    border-bottom: 1px solid #e7e7eb;
    padding: 15px 20px;
}

.we7-wmall-dialog .we7-modal-dialog .modal-header, .we7-wmall-dialog .modal-dialog .modal-header {
    background-color: #f4f5f9;
    border-bottom: 0;
}

#newUploaderImg .modal-header .modal-title, .uploader-modal .modal-header .modal-title {
    font-size: 16px;
}

.we7-modal-dialog .modal-body, .modal-dialog .modal-body {
    padding: 30px;
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
}

#newUploaderImg .modal-body, .uploader-modal .modal-body {
    padding: 0;
    max-height: 710px;
    overflow: hidden;
}

.material-content .material-nav {
    border-bottom: 1px solid #e7e7eb;
    padding: 0 20px;
}

.material-content .material-nav a {
    display: inline-block;
    padding: 0 30px;
    line-height: 42px;
    font-size: 16px;
    color: #999;
    border-bottom: 3px solid transparent;
}

.material-content .material-nav a:hover, .material-content .material-nav a.active, .material-content .material-nav .panel-menu a.list-group-item:not(.list-group-more):hover, .panel-menu .material-content .material-nav a.list-group-item:not(.list-group-more):hover {
    color: #428bca;
    border-color: #428bca;
}

.material-content .material-head {
    padding: 15px 20px;
    border-bottom: 1px solid #e7e7eb;
    clear: both;
    box-sizing: border-box;
}

.material-content .material-head .filter {
    width: 450px;
}

.we7-modal-dialog .we7-select, .modal-dialog .we7-select {
    width: 100%;
}

.material-content .material-head .filter .we7-select {
    width: 200px;
}

select.we7-select+.we7-select, select+.we7-select {
    margin-left: 10px;
}

.material-content .material-head .filter .we7-select+.we7-select {
    margin-left: -1px;
}

.input-group .input-group-btn .btn {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0;
    border-color: #e7e7eb;
}

.we7-margin-horizontal-sm {
    margin-left: 15px;
    margin-right: 15px;
}

#newUploaderImg.image .category li, .uploader-modal.image .category li {
    line-height: 44px;
    background: 0 0;
}

#newUploaderImg.image .category li.active, #newUploaderImg.image .category .head .navbar-left>li:hover, .head #newUploaderImg.image .category .navbar-left>li:hover, #newUploaderImg.image .category .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu #newUploaderImg.image .category li.list-group-item:not(.list-group-more):hover, #newUploaderImg.image .category li:hover, .uploader-modal.image .category li.active, .uploader-modal.image .category .head .navbar-left>li:hover, .head .uploader-modal.image .category .navbar-left>li:hover, .uploader-modal.image .category .panel-menu li.list-group-item:not(.list-group-more):hover, .panel-menu .uploader-modal.image .category li.list-group-item:not(.list-group-more):hover, .uploader-modal.image .category li:hover {
    background: #fff;
}

#newUploaderImg.image .category li .name, .uploader-modal.image .category li .name {
    width: 100%;
    padding: 0 30px 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
}

#newUploaderImg.image .category li .wi-file, .uploader-modal.image .category li .wi-file {
    color: #edce86;
    margin-right: 10px;
}

.wi-file:before {
    content: "\e692";
}

#newUploaderImg.image .category li .edit, .uploader-modal.image .category li .edit {
    padding: 0 20px;
    border-top: 1px solid #f5f5f5;
    display: none;
}

#newUploaderImg.image .category li .name .setting, .uploader-modal.image .category li .name .setting {
    position: absolute;
    right: 2px;
    top: 0;
    cursor: pointer;
    color: #428bca;
    display: none;
}

.wi, .ext-apply-list .ext-apply-item.apply-show:before, .cut-list .item.apply-show:before {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.we7-modal-dialog .wi, .we7-modal-dialog .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .we7-modal-dialog .ext-apply-item.apply-show:before, .we7-modal-dialog .cut-list .item.apply-show:before, .cut-list .we7-modal-dialog .item.apply-show:before, .we7-modal-dialog .fa, .modal-dialog .wi, .modal-dialog .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .modal-dialog .ext-apply-item.apply-show:before, .modal-dialog .cut-list .item.apply-show:before, .cut-list .modal-dialog .item.apply-show:before, .modal-dialog .fa {
    vertical-align: middle;
    margin-right: 3px;
}

.wi-appsetting {
    color: #428bca;
}

.img-container .item .del .wi {
    color: #fff;
}

.wi-registersite:before {
    content: "\e60d";
}

.wi-appsetting:before {
    content: "\e68a";
}

.wi-text:before {
    content: "\e685";
}

.wi-right:before {
    content: "\e649";
}

#newUploaderImg.image .category li:hover .name .setting, .uploader-modal.image .category li:hover .name .setting {
    display: block;
}

#newUploaderImg.image .category li .edit.show, .uploader-modal.image .category li .edit.show {
    display: block;
}

#newUploaderImg.image .category li .edit a, .uploader-modal.image .category li .edit a {
    display: inline-block;
    margin: 0 5px;
}

#newUploaderImg.image .material-body, .uploader-modal.image .material-body {
    padding: 0;
    position: relative;
    overflow-y: hidden;
}

#newUploaderImg.image .category, .uploader-modal.image .category {
    width: 170px;
    height: 460px;
    overflow-y: auto;
    border-right: 1px solid #e7e7eb;
    background: #f4f5f9;
    float: left;
}

#newUploaderImg.image .category .add, .uploader-modal.image .category .add {
    line-height: 44px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #e7e7eb;
}

.color-default {
    color: #428bca!important;
}

.color-red {
    color: #cf1010!important;
}

#newUploaderImg.image .img-container, .uploader-modal.image .img-container {
    padding: 10px 10px 41px;
    flex-wrap: wrap;
    margin-left: 171px;
    max-height: 460px;
    overflow-y: auto;
}

#newUploaderImg.image .img-container .item, .uploader-modal.image .img-container .item {
    flex: none;
    position: relative;
    width: calc(20% - 20px);
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
}

#newUploaderImg.image .img-container .item:before, .uploader-modal.image .img-container .item:before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    width: .1px;
    vertical-align: middle;
}

#newUploaderImg.image .img-container .item .name, .uploader-modal.image .img-container .item .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 34px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 0 20px;
    text-align: left;
    z-index: 2;
}

.material-content .material-body .item:hover {
    outline: 2px solid #428bca;
}

.material-content .material-body .mask .wi, .material-content .material-body .mask .ext-apply-list .ext-apply-item.apply-show:before, .ext-apply-list .material-content .material-body .mask .ext-apply-item.apply-show:before, .material-content .material-body .mask .cut-list .item.apply-show:before, .cut-list .material-content .material-body .mask .item.apply-show:before {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.material-content .material-body .del {
    position: absolute;
    width: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #428bca;
    cursor: pointer;
    bottom: 0;
    right: 0;
    z-index: 6;
    display: none;
}

.material-content .material-body .item:hover .del {
    display: block;
}

.material-content .material-head .filter {
    width: 450px;
}

.we7-modal-dialog .we7-select, .modal-dialog .we7-select {
    width: 100%;
}

.material-content .material-head .filter .we7-select {
    width: 200px;
}

select.we7-select+.we7-select, select+.we7-select {
    margin-left: 10px;
}

.material-content .material-head .filter .we7-select+.we7-select {
    margin-left: -1px;
}

.input-group .input-group-btn .btn {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0;
    border-color: #e7e7eb;
}

.we7-margin-horizontal-sm {
    margin-left: 15px;
    margin-right: 15px;
}

/* 上传图片组价样式兼容 */

.modal-material .modal-header {
    display: flex;
    align-items: center;
}

.modal-material .modal-header .material-nav {
    flex: 1;
    width: 0;
    text-align: center;
}

.modal-material .modal-header .material-nav a {
    margin: 0 14px;
    padding: 14px 0;
    border-bottom: 2px solid transparent;
}

.modal-header .material-nav a.active, .modal-header .material-nav a:hover {
    color: #08c;
    border-color: #08c;
}

.material-content .material-head {
    padding: 15px 20px;
    border-bottom: 1px solid #e7e7eb;
    clear: both;
    box-sizing: border-box;
}

/* 客服 */

.service-side .side-nav-item {
    height: 60px;
    padding: 5px 0px 0px 5px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.service-side .side-nav-item img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    border: none;
    vertical-align: middle;
}

.service-side .side-nav-item.active {
    background: #c2c2c2;
    color: white;
}

.service-box {
    min-height: 80vh;
    overflow: "hidden";
}

.service-side {
    float: left;
    min-height: 80vh;
    width: 200px;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.service-body {
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 201px;
    min-height: 80vh;
    background-color: #d8d8d8;
}

.service-chat {
    width: 70%;
    height: 100%;
    float: left;
}

.service-chat .chat-box {
    width: 98%;
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2% 1%;
}

.chat-box ul {
    display: none;
}

.chat-box ul.show-chat-detail {
    display: block;
}

.chat-box ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 60px;
    min-height: 60px;
}

.chat-box ul .chat-mine {
    text-align: right;
    padding-left: 0;
    padding-right: 60px;
}

.chat-user, .chat-text {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.chat-user {
    position: absolute;
    left: 3px;
}

.chat-mine .chat-user {
    left: auto;
    right: 3px;
}

.chat-mine .chat-user cite {
    left: auto;
    right: 60px;
    text-align: right;
}

.chat-user cite {
    position: absolute;
    left: 60px;
    top: -2px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    text-align: left;
    font-style: normal;
}

.chat-user img {
    display: inline-block;
    border: none;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.chat-mine .chat-text {
    margin-left: 0;
    text-align: left;
    background-color: #5FB878;
    color: #fff;
}

.chat-text {
    max-width: 462px;
    position: relative;
    line-height: 22px;
    margin-top: 25px;
    padding: 8px 15px;
    border-radius: 3px;
    color: #333;
    word-break: break-all;
}

.service-chat .msg-send {
    width: 100%;
    height: 20vh;
    background: white;
}

.msg-box {
    width: 100%;
    height: 65%;
}

.msg-box .msg-area {
    width: 98%;
    height: 98%;
    padding: 0 1%;
    resize: none;
    border: none;
    overflow-y: auto;
}

/* 地图 */

.dispatch .map {
    position: relative;
}

.dispatch .map #allmap {
    height: 750px;
    z-index: 10;
}

.dispatch .map .deliveryer-container {
    display: none;
    width: 20%;
    padding-left: 10px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    height: 750px;
    z-index: 11;
}

/* 添加属性 */

#attrs-container .input-group {
    margin-bottom: 15px;
}

#attrs-container .add-attr {
    display: inline-block;
    margin-top: 0px;
    cursor: pointer;
}