{itemplate 'public/header'}
<div class="page clearfix">
    <h2>订单相关</h2>
    <form class="form-horizontal form form-validate" id="form1" action="" method="post" enctype="multipart/form-data" style="max-width: 90%">
    </form>
</div>
<script type="text/javascript">
require(["jquery", "util"], function($, util){
    $(".colorpicker").each(function(){
        var elm = this;
        util.colorpicker(elm, function(color){
            $(elm).parent().prev().prev().val(color.toHexString());
            $(elm).parent().prev().css("background-color", color.toHexString());
        });
    });
    $(".colorclean").click(function(){
        $(this).parent().prev().prev().val("");
        $(this).parent().prev().css("background-color", "#FFF");
    });
    $('.order-update-status').click(function() {
        var value = $(this).val();
        if(value == 1) {
            $('.order-update-setting').removeClass('hide');
        } else {
            $('.order-update-setting').addClass('hide');
        }
    })
});
</script>
{itemplate 'public/footer'}