<div class="second-sidebar-title">
	设置
</div>
<div class="nav slimscroll">
	{ifp 'config.mall'}
		<div class="menu-header">平台</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/mall/basic'}class="active"{/if}>
				<a href="{php echo iurl('config/mall/basic');}">基础设置</a>
			</li>
			<li {if $_W['_router'] == 'config/mall/follow'}class="active"{/if}>
				<a href="{php echo iurl('config/mall/follow');}">分享及关注</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.roomCategory' || 'config.goods'}
	<div class="menu-header">体积估算</div>
		<ul class="menu-item">
			{ifp 'config.roomCategory'}
				<li {if $_W['_ac'] == 'roomCategory'}class="active"{/if}>
					<a href="{php echo iurl('config/roomCategory/list');}">房间类型</a>
				</li>
			{/if}
			{ifp 'config.goods'}
				<li {if $_W['_ac'] == 'goods'}class="active"{/if}>
					<a href="{php echo iurl('config/goods/list');}">房内物品</a>
				</li>
			{/if}
		</ul>
	{/if}
	{ifp 'config.trade'}
		<div class="menu-header">交易</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/trade/payment'}class="active"{/if}>
				<a href="{php echo iurl('config/trade/payment');}">支付方式</a>
			</li>
			<li {if $_W['_router'] == 'config/trade/recharge'}class="active"{/if}>
				<a href="{php echo iurl('config/trade/recharge');}">充值</a>
			</li>
			<li {if $_W['_router'] == 'config/trade/getcash'}class="active"{/if}>
				<a href="{php echo iurl('config/trade/getcash');}">提现方式</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.carry'}
		<div class="menu-header">搬运</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/carry/range'}class="active"{/if}>
				<a href="{php echo iurl('config/carry/range');}">接单范围</a>
			</li>
			<li {if $_W['_router'] == 'config/carry/order'}class="active"{/if}>
				<a href="{php echo iurl('config/carry/order');}">订单相关</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.notice'}
		<div class="menu-header">模板推送</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/notice/wxtemplate'}class="active"{/if}>
				<a href="{php echo iurl('config/notice/wxtemplate');}">模板消息</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.sms'}
		<div class="menu-header">短信</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/sms/set'}class="active"{/if}>
				<a href="{php echo iurl('config/sms/set');}">短信接入</a>
			</li>
			<li {if $_W['_router'] == 'config/sms/template'}class="active"{/if}>
				<a href="{php echo iurl('config/sms/template');}">短信模板</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.email'}
		<div class="menu-header">邮箱</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/email/set'}class="active"{/if}>
				<a href="{php echo iurl('config/email/set');}">邮箱接入</a>
			</li>
			<li {if $_W['_router'] == 'config/email/template'}class="active"{/if}>
				<a href="{php echo iurl('config/email/template');}">邮箱模板</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.store'}
		<div class="menu-header">企业</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/store/category'}class="active"{/if}>
				<a href="{php echo iurl('config/store/category/list');}">企业分类</a>
			</li>
			<li {if $_W['_router'] == 'config/store/recommend'}class="active"{/if}>
				<a href="{php echo iurl('config/store/recommend');}">为您优选</a>
			</li>
			<li {if $_W['_router'] == 'config/store/delivery'}class="active"{/if}>
				<a href="{php echo iurl('config/store/delivery');}">配送模式</a>
			</li>
			<li {if $_W['_router'] == 'config/store/serve_fee'}class="active"{/if}>
				<a href="{php echo iurl('config/store/serve_fee');}">服务费率</a>
			</li>
			<li {if $_W['_router'] == 'config/store/settle'}class="active"{/if}>
				<a href="{php echo iurl('config/store/settle');}">企业入驻</a>
			</li>
			<li {if $_W['_router'] == 'config/store/activity'}class="active"{/if}>
				<a href="{php echo iurl('config/store/activity');}">企业活动</a>
			</li>
			<li {if $_W['_router'] == 'config/store/extra'}class="active"{/if}>
				<a href="{php echo iurl('config/store/extra');}">其他批量操作</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.deliveryer'}
	<div class="menu-header">搬运工</div>
	<ul class="menu-item">
		<li {if $_W['_router'] == 'config/deliveryer/settle'}class="active"{/if}>
		<a href="{php echo iurl('config/deliveryer/settle');}">搬运工申请</a>
		</li>
		<li {if $_W['_router'] == 'config/deliveryer/cash'}class="active"{/if}>
		<a href="{php echo iurl('config/deliveryer/cash');}">提成及提现</a>
		</li>
		<li {if $_W['_router'] == 'config/deliveryer/extra'}class="active"{/if}>
		<a href="{php echo iurl('config/deliveryer/extra');}">其他设置</a>
		</li>
	</ul>
	{/if}
	{ifp 'config.activity'}
		<div class="menu-header">优惠活动相关</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/activity/newmember'}class="active"{/if}>
				<a href="{php echo iurl('config/activity/newmember');}">新用户</a>
			</li>
			<li {if $_W['_router'] == 'config/activity/notice'}class="active"{/if}>
				<a href="{php echo iurl('config/activity/notice');}">红包到期通知</a>
			</li>
			<li {if $_W['_router'] == 'config/activity/activityother'}class="active"{/if}>
				<a href="{php echo iurl('config/activity/activityother');}">其他 / 代金券</a>
			</li>
		</ul>		
	{/if}
	{ifp 'config.sensitive'}
		<div class="menu-header">敏感词</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/sensitive'}class="active"{/if}>
			<a href="{php echo iurl('config/sensitive');}">敏感词过滤</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.member'}
		<div class="menu-header">顾客设置</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/member/group'}class="active"{/if}>
				<a href="{php echo iurl('config/member');}">顾客设置</a>
			</li>
			<li {if $_W['_router'] == 'config/member/address'}class="active"{/if}>
				<a href="{php echo iurl('config/member/address');}">收货地址设置</a>
			</li>
		</ul>
	{/if}
	{ifp 'config.label' || 'config.report' || 'config.help'}
		<div class="menu-header">其他</div>
		<ul class="menu-item">
			{ifp 'config.label'}
				<li {if $_W['_router'] == 'config/label/TY_store_label'}class="active"{/if}>
					<a href="{php echo iurl('config/label/TY_store_label');}">商户标签</a>
				</li>
				<li {if $_W['_router'] == 'config/label/TY_delivery_label'}class="active"{/if}>
					<a href="{php echo iurl('config/label/TY_delivery_label')}">配送标签</a>
				</li>
			{/if}
			{ifp 'config.report'}
				<li {if $_W['_router'] == 'config/report/list'}class="active"{/if}>
					<a href="{php echo iurl('config/report/list');}">商户举报类型</a>
				</li>
			{/if}
			{ifp 'config.help'}
				<li {if $_W['_action'] == 'help'}class="active"{/if}>
					<a href="{php echo iurl('config/help/list');}">常见问题</a>
				</li>
			{/if}
		</ul>
	{/if}
	{ifp 'config.cover'}
		<div class="menu-header">入口</div>
		<ul class="menu-item">
			<li {if $_W['_router'] == 'config/cover/index'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/index');}">平台入口</a>
			</li>
			<li {if $_W['_router'] == 'config/cover/manage'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/manage');}">商家管理入口</a>
			</li>
			<li {if $_W['_router'] == 'config/cover/settle'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/settle');}">商家入驻入口</a>
			</li>
			<li {if $_W['_router'] == 'config/cover/delivery'}class="active"{/if}>
				<a href="{php echo iurl('config/cover/delivery');}">搬运工入口</a>
			</li>
		</ul>
	{/if}
</div>
