<div id="page-loading">
    <div>
        <div class="sk-spinner sk-spinner-three-bounce">
            <div class="sk-bounce1"></div>
            <div class="sk-bounce2"></div>
            <div class="sk-bounce3"></div>
        </div>
    </div>
</div>
{if $_W['_ctrl'] == 'store' || $ctrl == 'store'}
<div style="position:fixed;z-index:999999;right:20px;bottom:50px;padding:0;margin:0;width:100px;height:40px;background:#1E9FFF;border-radius:100px;line-height:40px;text-align:center;color:#fff;font-size:13px;cursor:pointer;" id="show-chat"><a style="color: #fff;" target="_blank" href="{php echo iurl('store/im/index');}">WEB-IM</a></div>
{/if}
{itemplate 'public/hello'}
{itemplate 'public/footer-base'}