<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{php if(isset($title)) $_W['page']['title'] = $title}{if !empty($_W['page']['title'])}{$_W['page']['title']}- {/if}{$_W['page']['copyright']['sitename']}</title>
    <meta name="keywords" content="{$_W['page']['copyright']['keywords']}" />
    <meta name="description" content="{$_W['page']['copyright']['description']}" />

    <link rel="shortcut icon" href="{$_W['siteroot']}{$_W['config']['upload']['attachdir']}/{if !empty($_W['setting']['copyright']['icon'])}{$_W['setting']['copyright']['icon']}{else}images/global/wechat.jpg{/if}" />
    <link rel="stylesheet" href="{php echo WE7_BANBANJIA_LOCAL}static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{php echo WE7_BANBANJIA_LOCAL}static/css/fontawesome.min.css">
    <link rel="stylesheet" href="{php echo WE7_BANBANJIA_LOCAL}static/css/animate.min.css">
    <link rel="stylesheet" href="{php echo WE7_BANBANJIA_LOCAL}static/css/common.css?t={php echo time();}">
    <link rel="stylesheet" href="{php echo WE7_BANBANJIA_LOCAL}static/css/iconfont.css">
    <!-- <link rel="stylesheet" href="{php echo WE7_BANBANJIA_LOCAL}static/css/diypage.css"> -->
    <script>var require = {urlArgs: 'v={php echo date('YmdH');}' };</script>
    <script src="{$_W['siteroot']}web/resource/js/lib/jquery-1.11.1.min.js"></script>
    <script src="{php echo WE7_BANBANJIA_LOCAL}static/js/components/jquery/jquery.extend.js"></script>

    
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <!-- <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" /> -->
    <!-- Load polyfills to support older browsers -->
    <!-- <script src="https://cdn.bootcss.com/js-polyfills/0.1.42/polyfill.min.js"></script> -->
    <!-- <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script> -->
    <!-- Load Vue followed by BootstrapVue -->
    <!-- <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script> -->
    <!-- <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script> -->

    <script type="text/javascript">
        if (navigator.appName == 'Microsoft Internet Explorer') {
            if (navigator.userAgent.indexOf("MSIE 5.0") > 0 || navigator.userAgent.indexOf("MSIE 6.0") > 0 || navigator.userAgent.indexOf("MSIE 7.0") > 0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
        window.sysinfo = {
            {if !empty($_W['uniacid'])}
                'uniacid': '{$_W['uniacid']}',
            {/if}
            {if !empty($_W['acid'])}
				'acid': '{$_W['acid']}',
            {/if}
            {if !empty($_W['openid'])}
				'openid': '{$_W['openid']}',
            {/if}
            {if !empty($_W['uid'])}
				'uid': '{$_W['uid']}',
            {/if}
            'isfounder': {if !empty($_W['isfounder'])}1{else}0{/if},
            			'siteroot': '{$_W['siteroot']}',
			'siteurl': '{$_W['siteurl']}',
			'attachurl': '{$_W['attachurl']}',
			'attachurl_local': '{$_W['attachurl_local']}',
			'attachurl_remote': '{$_W['attachurl_remote']}',
			{if defined('MODULE_URL')}
			'MODULE_URL': '{MODULE_URL}',
			{/if}
			'module' : {'url' : '{if defined('MODULE_URL')}{MODULE_URL}{/if}', 'name' : '{if defined('IN_MODULE')}{IN_MODULE}{/if}'},
			'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
			'account' : {php echo json_encode($_W['account'])},
            'merchant' : {php echo defined('IN_MERCHANT') ? 1 : 0},
        }
    </script>
        
    <script src="{$_W['siteroot']}web/resource/js/app/util.js"></script>
    <script src="{$_W['siteroot']}web/resource/js/app/common.min.js"></script>
    <script src="{$_W['siteroot']}web/resource/js/require.js"></script>
    <script src="{$_W['siteroot']}web/resource/js/app/config.js?t={php echo time();}"></script>
    <script src="{php echo WE7_BANBANJIA_LOCAL}static/js/iconfig-web.js?t={php echo time();}"></script>
    <style>
		{if $_W['role'] == 'merchanter'}
			.material-content .material-body .item:hover .del{display: none}
		{/if}
	</style>
</head>
<body>