{itemplate 'public/header-base'}
{if defined('IN_MERCHANT')}
<style>
	/*隐藏上传图片弹出层删除分组的按钮*/
	#image .category .category-menu .ng-scope .edit .color-red {
		display: none !important;
	}

	/*隐藏移动按钮*/
	.material-head .btn-group button {
		display: none;
	}
</style>
{/if}

<style>
#resize{
    position: fixed;
	top: 0px;
	bottom: 0;
	width: 3px;
	left: 120px;
	cursor: w-resize;
	z-index: 100000;
}
</style>

<body>
	{if defined('IN_MANAGE')}
	<div id="app-sidebar">
		<div id="app-first-sidebar">
			<a class="team-logo-wrap" href="javascript:;">
				<div class="team-logo">
					<img width="32px" height="32px"
						src="{php echo tomedia($_W['we7_hello_banbanjia']['config']['mall']['logo']);}" alt="">
				</div>
				<span class="plateform-name">{$_W['we7_hello_banbanjia']['config']['mall']['title']}</span>
			</a>
			<div class="nav slimscroll">
				<ul class="clearfix">
					{ifp 'dashboard'}
					<li class="{if $_W['_ctrl'] == 'dashboard'}active{/if}">
						<a href="{php echo iurl('dashboard/index');}">
							<i class="icon icon-scan"></i>
							概况
						</a>
					</li>
					{/if}
					{ifp 'order'}
					<li class="{if $_W['_ctrl'] == 'order'}active{/if}">
						<a href="{php echo iurl('order/carry/list');}">
							<i class="icon icon-order"></i>
							订单
						</a>
					</li>
					{/if}
					{ifp 'domestice'}
					<li class="{if $_W['_ctrl'] == 'domestice'}active{/if}">
						<a href="{php echo iurl('domestice/order/list');}">
							<i class="icon icon-sports"></i>
							搬运
						</a>
					</li>
					{/if}
					{ifp 'global'}
					<li class="{if $_W['_ctrl'] == 'global'}active{/if}">
						<a href="{php echo iurl('global/order/list');}">
							<i class="icon icon-deliver"></i>
							搬家
						</a>
					</li>
					{/if}
					{ifp 'express'}
					<li class="{if $_W['_ctrl'] == 'express'}active{/if}">
						<a href="{php echo iurl('express/order/list');}">
							<i class="icon icon-box"></i>
							国际快递
						</a>
					</li>
					{/if}
					{ifp 'paycenter'}
					<li class="{if $_W['_ctrl'] == 'paycenter'}active{/if}">
						<a href="{php echo iurl('paycenter/paybill');}">
							<i class="icon icon-order"></i>
							财务
						</a>
					</li>
					{/if}
					{ifp 'statcenter'}
					<li class="{if $_W['_ctrl'] == 'statcenter'}active{/if}">
						<a href="{php echo iurl('statcenter/takeout');}">
							<i class="icon icon-data"></i>
							数据
						</a>
					</li>
					{/if}
					{ifp 'member'}
					<li class="{if $_W['_ctrl'] == 'member'}active{/if}">
						<a href="{php echo iurl('member/index');}">
							<i class="icon icon-person2"></i>
							客户
						</a>
					</li>
					{/if}
					{ifp 'merchant'}
					<li class="{if $_W['_ctrl'] == 'merchant'}active{/if}">
						<a href="{php echo iurl('merchant/store/list');}">
							<i class="icon icon-shop"></i>
							企业
						</a>
					</li>
					{/if}
					{ifp 'deliveryer'}
					<li class="{if $_W['_ctrl'] == 'deliveryer'}active{/if}">
						<a href="{php echo iurl('deliveryer/plateform/list');}">
							<i class="icon icon-people"></i>
							搬运工
						</a>
					</li>
					{/if}
					{ifp 'comment'}
					<li class="{if $_W['_ctrl'] == 'comment'}active{/if}">
						<a href="{php echo iurl('comment/comment');}">
							<i class="icon icon-comment"></i>
							评价
						</a>
					</li>
					{/if}
					<!-- {ifp 'clerk'}
					<li class="{if $_W['_ctrl'] == 'clerk'}active{/if}">
						<a href="{php echo iurl('clerk/account/list');}">
							<i class="icon icon-person2"></i>
							店员
						</a>
					</li>
					{/if} -->
					{ifp 'notice'}
					<li class="{if $_W['_ctrl'] == 'notice'}active{/if}">
						<a href="{php echo iurl('notice/index');}">
							<i class="icon icon-notice"></i>
							消息
						</a>
					</li>
					{/if}
					{ifp 'service'}
					<li class="{if $_W['_ctrl'] == 'service'}active{/if}">
						<a href="{php echo iurl('service/index');}">
							<i class="icon icon-service"></i>
							客服
						</a>
					</li>
					{/if}
					{ifp 'iwxapp'}
					<li class="{if $_W['_ctrl'] == 'wxapp'}active{/if}">
						<a href="{php echo iurl('iwxapp/index');}" style="color:red;">
							<i class="icon icon-weixin"></i>
							小程序
						</a>
					</li>
					{/if}
					<li
						class="{if (defined('IN_PLUGIN') && $_W['_ctrl'] != 'wxapp') || $_W['_ctrl'] == 'plugin'}active{/if}">
						<a href="{php echo iurl('plugin/index');}">
							<i class="icon icon-app"></i>
							应用
						</a>
					</li>
					{ifp 'config'}
					<li class="{if $_W['_ctrl'] == 'config'}active{/if}">
						<a href="{php echo iurl('config/mall');}">
							<i class="icon icon-settings"></i>
							设置
						</a>
					</li>
					{/if}
					{if $_W['permits'] == 'all'}
					<li class="{if $_W['_ctrl'] == 'permit'}active{/if}">
						<a href="{php echo iurl('permit/role');}">
							<i class="icon icon-lock"></i>
							权限
						</a>
					</li>
					{/if}
					{if !empty($_W['isfounder'])}
					<li class="{if $_W['_ctrl'] == 'system'}active{/if}">
						<a href="{php echo iurl('system/plugin/index');}">
							<i class="icon icon-switch"></i>
							系统
						</a>
					</li>
					{/if}
				</ul>
			</div>
		</div>
		<div id="resize"></div>
		<div id="app-second-sidebar">
			{php build_menu();}
		</div>
	</div>
	<div id="app-container">
		<div class="sys-message hide"></div>
		<div id="app-third-sidebar" class="clearfix">
			<ul class="nav-list">
				<li><a href="javascritp:;">{$_W['page']['title']}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle account-info" data-toggle="dropdown">
						<span class="pic">
							<img src="{php echo tomedia($_W['we7_wmall']['config']['mall']['logo']);}" alt="" />
						</span>
						{$_W['account']['name']}(uniacid:{$_W['uniacid']}) <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{php echo url('account/display');}" target="_blank"><i
									class="icon icon-similar"></i> 切换公众号</a></li>
						<li><a href="{php echo url('account/post', array('uniacid' => $_W['uniacid'], 'acid' => $_W['uniacid']));}"
								target="_blank"><i class="icon icon-weixin"></i> 编辑公众号</a></li>
						<li><a href="{php echo url('utility/emulator');}" target="_blank"><i
									class="icon icon-machinery"></i> 模拟测试</a></li>
						{if !empty($_W['isfounder'])}
						<li class="divider"></li>
						<li><a href="{php echo url('user/profile');}" target="_blank"><i class="icon icon-lock"></i>
								修改密码</a></li>
						{/if}
						<li><a href="{php echo url('account/display');}" target="_blank"><i class="icon icon-back"></i>
								返回系统</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div id="app-inner">
	{elseif defined('IN_MERCHANT')}
	<div id="app-sidebar">
		<div id="app-first-sidebar">
			<a class="team-logo-wrap" href="javascript:;">
				<div class="team-logo">
					<img width="32px" height="32px" src="{php echo tomedia($store['logo'])}" alt="">
				</div>
				<span class="plateform-name">{$store['title']}</span>
			</a>
			<div class="nav slimscroll">
				<ul class="clearfix">
					<li class="{if $_W['_ctrl'] == 'dashboard'}active{/if}">
						<a href="{php echo iurl('store/dashboard/index');}">
							<i class="icon icon-scan"></i>
							概况
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'order'}active{/if}">
						<a href="{php echo iurl('store/order/takeout');}">
							<i class="icon icon-waimai"></i>
							外卖
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'tangshi'}active{/if}">
						<a href="{php echo iurl('store/tangshi/order');}">
							<i class="icon icon-store"></i>
							店内
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'paycenter'}active{/if}">
						<a href="{php echo iurl('store/paycenter/paybill');}">
							<i class="icon icon-order"></i>
							当面付
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'goods'}active{/if}">
						<a href="{php echo iurl('store/goods/index');}">
							<i class="icon icon-goods"></i>
							商品
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'service'}active{/if}">
						<a href="{php echo iurl('store/service/comment');}">
							<i class="icon icon-refund"></i>
							售后
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'finance'}active{/if}">
						<a href="{php echo iurl('store/finance/order');}">
							<i class="icon icon-recharge"></i>
							财务
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'statistic'}active{/if}">
						<a href="{php echo iurl('store/statistic/order');}">
							<i class="icon icon-data"></i>
							分析
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'activity'}active{/if}">
						<a href="{php echo iurl('store/activity/shopIndex');}">
							<i class="icon icon-activity"></i>
							营销
						</a>
					</li>
					<li class="hide {if $_W['_ac'] == 'member'}active{/if}">
						<a href="{php echo iurl('store/member/index');}">
							<i class="icon icon-peoplelist"></i>
							顾客
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'shop'}active{/if}">
						<a href="{php echo iurl('store/shop/setting');}">
							<i class="icon icon-settings"></i>
							门店
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'wxapp'}active{/if}">
						<a href="{php echo iurl('store/wxapp/index/index');}">
							<i class="icon icon-settings"></i>
							小程序
						</a>
					</li>
					<li class="{if $_W['_ac'] == 'decoration'}active{/if}">
						<a href="{php echo iurl('store/decoration/template/index');}">
							<i class="icon icon-settings"></i>
							装修
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="app-second-sidebar">
			{php build_menu();}
		</div>
	</div>
	<div id="app-container">
		<div class="sys-message hide"></div>
		<div id="app-third-sidebar" class="clearfix">
			<ul class="nav-list">
				<li><a href="javascritp:;">{$_W['page']['title']}</a></li>
			</ul>
			<div class="pull-right user-section">
				<div class="pull-left wm-user-name">
					<a href="javascript:;" class="text">
						<span class="names">{$_W['role_cn']}</span>
						<span><i class="fa fa-trans fa-angle-down"></i></span>
					</a>
					{if $_W['role'] == 'founder'}
						<ul class="drop-menu">
							<li class="page-jump"><a href="{php echo url('user/profile')}">修改密码</a></li>
							<li class="page-jump"><a href="{php echo url('user/logout')}">退出</a></li>
						</ul>
					{elseif $_W['role'] == 'manager'}
						<ul class="drop-menu">
							<li class="page-jump"><a href="{php echo url('user/profile')}">修改密码</a></li>
							<li class="page-jump"><a href="{php echo url('user/logout')}">退出</a></li>
						</ul>
					{elseif $_W['role'] == 'merchanter'}
						<ul class="drop-menu">
							<li class="page-jump"><a href="{php echo iurl('store/shop/account')}">修改密码</a></li>
							<li class="page-jump"><a href="{php echo iurl('store/oauth/loginout')}">退出</a></li>
						</ul>
					{/if}
				</div>
				<div class="pull-left wm-notice">
					<a class="page-jump notice-jump" href="{php echo iurl('store/shop/notice/list')}"><i class="fa fa-bell"></i><span class="badge hide" id="notice-total">0</span></a>
				</div>
			</div>
		</div>
		<div id="app-inner">
	{/if}
	<script>
	$(function(){
		var resize = document.getElementById("resize");
		var app_first_sidebar = document.getElementById("app-first-sidebar");
		var app_second_sidebar = document.getElementById("app-second-sidebar");
		var app_container = document.getElementById('app-container');

		resize.style.left = localStorage.getItem('resizeLeft');
		app_first_sidebar.style.width = localStorage.getItem('firstSidebarWidth');
		app_second_sidebar.style.left = localStorage.getItem('secondSidebarLeft');
		app_container.style.marginLeft = localStorage.getItem('containerMarginLeft');

		resize.onmousedown = function(e){
			var startX = e.clientX;
			resize.left = resize.offsetLeft;
			app_first_sidebar.width = app_first_sidebar.offsetWidth;
			app_second_sidebar.left = app_second_sidebar.offsetLeft;
			if (window.getComputedStyle) {
				app_container.marginLeft = getComputedStyle(app_container, null).marginLeft;
			} else {
				app_container.marginLeft = app_container.currentStyle.marginLeft;//兼容IE的写法
			}
			
			document.onmousemove = function(e){
				var endX = e.clientX;
				var moveLenResize = resize.left + (endX - startX);
				var moveLenApp_second_sidebar = app_second_sidebar.left + (endX - startX);
				resize.style.left = moveLenResize + 'px';
				app_first_sidebar.style.width = app_first_sidebar.width + (endX - startX) + 'px';
				app_second_sidebar.style.left = moveLenApp_second_sidebar + 'px';
				app_container.style.marginLeft = parseInt(app_container.marginLeft) + (endX - startX) + 'px';
			}
			document.onmouseup = function(evt){
				localStorage.setItem('resizeLeft',resize.style.left);
				localStorage.setItem('firstSidebarWidth',app_first_sidebar.style.width);
				localStorage.setItem('secondSidebarLeft',app_second_sidebar.style.left);
				localStorage.setItem('containerMarginLeft',app_container.style.marginLeft);

				document.onmousemove = null;
				document.onmouseup = null; 
				resize.releaseCapture && resize.releaseCapture();
			}
			resize.setCapture && resize.setCapture();
   			return false;
		}
	})
	</script>