<style type="text/css">
	#select-wxapp-link-modal .modal-dialog{width: 750px;}
	#select-wxapp-link-modal .modal-dialog .modal-body{padding: 15px;}
	#select-wxapp-link-modal .link-container{height: 420px; overflow-y: auto;}
	#select-wxapp-link-modal .page-header{padding: 9px 0; margin-top: 5px; margin-bottom: 8px}
	#select-wxapp-link-modal .page-header h4{margin: 0; font-size: 14px; font-weight: 600}
	#select-wxapp-link-modal .btn{margin-bottom: 3px; border: 1px solid #e7eaec;}
	#select-wxapp-link-modal .btn:hover{border: 1px solid #d2d2d2; background: #ffffff; text-decoration: none}
	#select-wxapp-link-modal .btn-wxapp:hover{background: #1ab394; text-decoration: none}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button data-dismiss="modal" class="close" type="button">×</button>
			<h4 class="modal-title">选择链接</h4>
		</div>
		<div class="modal-body clearfix link-container">
			{if $type == 'mall'}
				<ul class="nav nav-tabs" role="tablist">
					<li class="active" role="presentation">
						<a href="#platform" role="tab" data-toggle='pill'>平台</a>
					</li>
					<li role="presentation">
						<a href="#deliveryer" role="tab" data-toggle='pill'>搬运</a>
					</li>
					<li role="presentation">
						<a href="#other" role="tab" data-toggle='pill'>其他</a>
					</li>
				</ul>
				<div class="tab-content">
					<div style="margin-top: 20px;"></div>
					<div class="tab-pane active" role="tabpanel" id="platform">
						{loop $data['platform'] $da}
							<div class="page-header">
								<h4><i class="fa fa-folder-open-o"></i>{$da['title']}</h4>
							</div>
							{loop $da['items'] $item}
								<div class="btn btn-default btn-sm btn-link" data-href="{$item['url']}" title="{$item['title']}">{$item['title']}</div>
							{/loop}
						{/loop}
					</div>
					<div class="tab-pane" role="tabpanel" id="deliveryer">
						{loop $data['deliveryer'] $da}
							<div class="page-header">
								<h4><i class="fa fa-folder-open-o"></i> {$da['title']}</h4>
							</div>
							{loop $da['items'] $item}
								<div class="btn btn-default btn-sm btn-link" data-href="{$item['url']}" title="{$item['title']}">{$item['title']}</div>
							{/loop}
						{/loop}
					</div>
				</div>
			{/if}
		</div>
	</div>
</div>
